body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./Audience2.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.4rem solid #717172;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #0bed87;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }

  .key {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }

  kbd {
    font-size: 1.2rem;
  }

  .sound {
    font-size: 0.7rem;
  }
}
